.file-input-wrapper {
  box-sizing: border-box;
  position: relative;
  padding: 32px;

  .file-input-inner-wrapper {
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    flex-direction: row;    
  }


  input {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .file-input {
    margin-left: 16px;
    margin-right: 16px;
    flex: 1;    
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #ddd;

    text-align: center;
    color: rgba(0,0,0,0.5);
    text-transform: capitalize;
  }

  .file-list {
    margin-left: 16px;
    margin-right: 16px;

    flex: 1;
  }

  .file {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;

    &-name {
      display: flex;
      flex-direction: column;
      padding: 8px 0;

      &-label {
        font-size: 0.6rem;
        opacity: 0.5;
        padding: 2px 0;    
      }
    }
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    &--progress {    
      background-color: #d00;
      height: 8px; 
    }   
  }
}

.progress-bar {

}